html {
  font-family: 'Montserrat', sans-serif, Arial, Helvetica;
  color: var(--font)
}

ul, li {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img, iframe {
  max-width: 100%;
}

button {
  border: none;
}