:root {
  --gradient: linear-gradient(90deg, rgba(255,171,0,1) 35%, rgba(251,255,99,1) 100%);
  --gradient-reverse: linear-gradient(90deg, rgba(251,255,99,1) 0%, rgba(255,171,0,1) 100%);
  --font: #737373;
}